*{
    margin: 0px 0px 0px 0px;
}

.columns {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;  

}
.column {
    width: 30%;
    height: 100%;
    box-sizing: border-box;  
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    background-color: azure;
}

.spancard{
    cursor: pointer;

}

.addcart-form {
    display: none;
}

.spancard:hover{
color: #214703;
font-size: 20px;
}

.noactive {
    display: none;
}
.active {
    display: block;
}
.newcard {
    box-sizing: border-box;  
    border: 1px solid black;
}

.dragged {
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    background: #fff;
}

